body {
    /* width: 50%; */
}

.container {
    width: 100%;
    background-color: bisque;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dashboard {
    box-sizing: border-box;
    padding: 10px;
    background: url(./assets/dashboard.png);
    background-repeat: none;
    background-size: cover;
}

.select {
    display: flex;
    justify-content: center;
    gap: 20%;
}

.inputyear {
    width: 50px;
}

table {
    width: 100%;
    height: 100px;
    text-align: center;
}


thead {
    background-color: lightgray;
    font-size: 20px;
    line-height: 100%;
    height: 20px;
    font-weight: 500;
}

tbody {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    letter-spacing: 0;
    background-color: white;
}

td {
    height: 20px;
    width: 50px;
}

td.old{
    color: gray;
}

thead tr th:first-child,
td:first-child
 {
    color:red;
}